@charset "UTF-8"; /* コードの文字化けを防ぐ */

/* 共通部分 ************************************************/
html {
  font-size: 100%;  /* ユーザーの設定した文字サイズを正しく反映 */
}

body {
  /* 書体の指定 */
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif, "Serif";
  line-height: 1.7; /* 行の高さの指定 */
  color: #432;  /* 色の指定 */
  margin: 0;
}

.wrapper {
  max-width: 1100px;  /* 最大幅1100pxの指定 */
  padding: 0 4%;  /* スマートフォン向け余白の設定 */
  margin: 0 auto; /* 中央に配置する指定 */
}

.main {
  position: relative;
  top: 85px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0;
}

a {
  text-decoration: none;  /* 下線部の削除 */
}

/* HEADER *************************************************/
.header {
  background-color: rgba(32, 27, 26, 0.967);
  height: 85px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 10;
}


.header .wrapper{
  display: flex;
  justify-content: space-between;
}

.header-left {
  color: #fff;
}

.header-left h1{
  font-size: 2rem;
  /*font-family: 'Courier New', Courier, monospace;*/
}

.header-left a {
  color:inherit;  /* 文字色を変えない */
  text-decoration: none;  /* 下線の非表示 */
}

.header-right {
  color: white;
  /*font-family: 'Courier New', Courier, monospace;*/
}

/* menu *********************/
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: white;
}
.main-nav a:hover {
  color: rgb(0, 59, 221);
}
/* Top **************************************/
.top-wrapper {
  padding: 180px 0 100px 0;
  height: 300px;
  background-image: url(../image/frank.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
.top-wrapper::before {
  content: "";
  position: absolute;
  top: 0;  bottom: 0;
  left: 0;  right: 0;
  background: black;
  opacity:0.4;
}

.top-wrapper h1{
  position: relative;
  color:rgba(255, 255, 255, 0.7);
  font-size: 4rem;
  z-index: 5;
}

.top-wrapper h2{
  position: relative;
  color:rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  z-index: 5;
}

.menu-big6-wrapper {
  height: 1000px;
  background-color: #f7f7f7;
  text-align: center;
}

.menu-joint-wrapper {
  height: 2000px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
  background-color: #f7f7f7; 
}

.heading h2 {
  font-size: 36px;
  font-weight: bold;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template: repeat(auto-fit, minmax(240px, 1fr));;
  margin-top: 6%;
  margin-bottom: 50px; 
}
.training {
  float: left;
  /*width: 33%;*/
  font-size: 1rem;
}

.training-icon {
  position: relative;
}

.training-icon img {
  width: 350px;
  height: auto;
}

.training-icon p {
  position: absolute;
  top: 50px;
  width: 100%;
  color: white;
  font-size: 24px;
}

.training-icon img:hover {
  cursor: pointer;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10%;
  font-size: 0.7rem;
  color: #b3aeb5;
}

.training-menu-wrapper {
  height: 1000px;
  background-color: #f7f7f7;
  text-align: center;
}

/* 表のスタイル */
.training-menu-wrapper table {
  width: 100%;
  font-family: Arial, sans-serif;
  border-spacing: 0px;
}

/* ヘッダー行のスタイル */
.training-menu-wrapper th {
  border: 1px solid gray;
  background-color: #f2f2f2;
}

/* データ行のスタイル */
.training-menu-wrapper td {
  border: 1px solid gray;
  padding: 8px;
}

/* テーブルの四隅にRをつける */
.training-menu-wrapper table tr:first-child>*:first-child{
  border-radius: 10px 0 0 0;
}
.training-menu-wrapper table tr:first-child>*:last-child{
  border-radius: 0 10px 0 0;
}
.training-menu-wrapper table tr:last-child>*:first-child{
  border-radius: 0 0 0 10px;
}
.training-menu-wrapper table tr:last-child>*:last-child{
  border-radius: 0 0 10px 0;
}

 /* 列の幅を設定 */
 .training-menu-wrapper colgroup col:nth-child(1) {
  width: 5%; /* 1列目の幅を5%に設定 */
}

.training-menu-wrapper colgroup col:nth-child(2) {
  width: 50%; 
}

.training-menu-wrapper colgroup col:nth-child(3) {
  width: 15%; 
}

.training-menu-wrapper colgroup col:nth-child(4) {
  width: 15%; 
}

.training-menu-wrapper colgroup col:nth-child(5) {
  width: 15%; 
}

/* フッターのボタン */
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
#to-top-btn.fixed {
  position: fixed;
  bottom: 0;
  /* bottom: 40px; */
  margin-bottom: 40px;
}

/* モバイル版 **************/
@media (max-width: 600px) {
  /* HEADER ************************************/
  .header .wrapper{
    display: flex;
    flex-direction: column; /* 縦に並べる */
    justify-content: space-between;
  }

  .header-left h1{
   font-size: 1rem;
  }

  .header-right h2 {
   font-size: 0.8rem;
  }

  /* TOP ***************************************/
  .header {
    height: 60px;
  }
  .top-wrapper {
    padding: 90px 0 100px 0;
    height: 100px;
    background-image: url(../image/frank.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
  }

  .top-wrapper h1{
    font-size: 3rem;
  }
  
  .top-wrapper h2{
    font-size: 1rem;
  }

  .menu-big6-wrapper {
    height: 2000px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .menu-joint-wrapper {
    height: 3000px;
    background-color: #f7f7f7;
    text-align: center;
  }
}